/* ====================================
   Demo specific styling
   ==================================== */

.header-video {
  position: relative;
  overflow: hidden;
}

iframe, video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

iframe {
  height: 100%;
  width: 100%;
}

video {
  width: 100%;
}

.teaser-video {
  width: 100%;
  height: auto; 
}

.header-video--media {
  width: 100%;
  height: auto;
}

/* ====================================
   Just making stuff pretty
   ==================================== */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 100%;
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-weight: 700;
  margin-bottom: .35em;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2em;
  margin-top: 1em;
}

.video-trigger {
  z-index: 5;
  position: absolute;
  background: #222;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 60px;
  top: 0;
  z-index: 5;
  left: 50%;
  line-height: 60px;
  margin-left: -100px;
  top: 50%;
  margin-top: -30px;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  transition: background .3s;
}

.video-trigger:hover {
  background: #363636;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2em;
}
